:root {
    --color-bg: #151525;
    --color-text: #e0e0e0;
    --color-accent: #00f0ff;
    --color-secondary: #ff0055;
    --font-main: 'Inter', sans-serif;
    --font-heading: 'Outfit', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

html,
body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

body {
    background: radial-gradient(circle at center, #2a2a4e 0%, #050510 100%);
    color: var(--color-text);
    font-family: var(--font-main);
    min-height: 100vh;
    width: 100vw;
}

h1,
h2,
h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    letter-spacing: -0.02em;
}

a {
    color: var(--color-accent);
    text-decoration: none;
}