@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-story: "Story Script", cursive;
  --font-lucky: "Luckiest Guy", cursive;
}

.font-story {
  font-family: "Story Script", cursive;
}

.font-lucky {
  font-family: "Luckiest Guy", cursive;
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
